# Python
__pycache__
/venv*
xvenv
*venv
/xvenv*
dist
/temp
*.temp

# Project specific
/config.json
/outputs
/images
/models
/docker-data
/tmp

/stories

/test

# Docs
/docs/.vitepress/dist
/docs/.vitepress/cache
node_modules
libs
scratch
stable-diffusion-inpainting
convert
dist
big-binaries
plan
plan2
embeddings
openpose.png
test.txt
*.dll
*.lib
*.weights

onnxruntime_profile*

*.safetensors
*.onnx
*.plan
*.cache
*.cache.lock
*.zip
model3/*.json
model4
model5
model6

weighthashes.json

!model3/newweights/taedecode/taesd_decoder.safetensors
database-storage
yarn-error.log
temp

extension
extension.zip

build